/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
html{
	box-sizing: border-box;
}
*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 1.11vw;
	line-height: 1.67vw;
	color: #000000;
}
img{
	width: 100%;
	height: auto;
}
.wrapper{
	width: 73.61vw;
	margin: 0 auto;
}
.wrapper-full{
	width: 87.03vw;
	margin: 0 auto;
}
.section__title{
  	font-size: 2.42vw;
  	line-height: 2.91vw;
  	color: #102746;
  	padding: 0 0 0.69vw 0;
  	position: relative;
}
.section__title:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 17.45vw;
	height: 0.21vw;
	background-color: #006DFE;
}
.section__link{
	width: 11.14vw;
	color: #006DFE;
	text-transform: uppercase;
	text-decoration: none;	
}


/*header*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3.89vw 0 0 0;
}
.header__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__list{
	display: flex;
	flex-wrap: wrap;
}
.header__item{
	margin: 0 5.56vw 0 0;
}
.header__item:last-child{
	margin: 0;
}


.header__link{
	position: relative;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.25vw;
	line-height: 1.67vw;
}
.header__link:after{
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -3px;
	height: 1px;
	background-color: #ffffff;
	transform-origin: left;
	transform: scaleX(0);
	transition: 0.3s ease-in-out;
}
.header__link:hover::after,
.header__link:active::after{
	transform: scaleX(1);
}
.header__link:focus{
	opacity: 0.7;
}


/*section intro*/
.intro{
	min-height: 100vh;
	background: url(../img/intro.jpg) no-repeat center;
	background-size: cover;
	padding: 18.26vw 0 15.43vw 0;
}
.intro__title{
	max-width: 42.99vw;
	font-weight: 700;
	font-size: 3.47vw;
	line-height: 4.17vw;
	color: #FFFFFF;
	margin: 0 0 1.53vw 0;
}
.intro__subtitle{
	max-width: 37.92vw;
	color: #FFFFFF;
	margin: 0 0 3.75vw 0;
}
.search-form__wrap{
	padding: 0 0 15.43vw 0; 
}
.search-form__info{
	display: flex;
	flex-wrap: wrap;
}
.search-form__field{
	width: 20.63vw;
	background: url(../img/icon/svg/circle-icon.svg) no-repeat left 0.48vw transparent;
	background-size: 1.39vw;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	margin: 0 4.17vw 0 0;
	padding: 0 0 1.53vw 2.99vw;
	font-size: 1.25vw;
	color: #ffffff;
}
.search-form__field::placeholder{
	color: #ffffff;
}
.search-form__submit{
	text-transform: uppercase;
	font-size: 1.66vw;
	line-height: 2.01vw;
	color: #ffffff;
	background: #1B7DFF;
	border: 0;
	padding: 1.04vw 2.70vw;
	transform: 0.3s all;
}
.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active{
	background: #0d59be;
}

/*section benefits*/
.benefits{
	max-width: 87.34vw;
	margin: 0 auto 9.03vw auto;
	background: #ffffff;
	box-shadow: 0px 0.14vw 1.38vw rgba(21, 24, 36, 0.15993);
	position: relative;
}
.benefits__cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3.79vw;
	padding: 0 0 7.72vw 0;
}
.benefits__card{
	grid-column: span 1;
}
.benefits__title{
	width: 100%;
	font-size: 2.42vw;
  	line-height: 2.91vw;
  	color: #102746;
	padding: 6.44vw 6.07vw 6.07vw 6.07vw;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
  	transform: translateY(-100%);
}
.benefits__card-pic{
	max-width: 4.55vw;
	margin: 2.21vw 0 2.56vw 0;
}
.benefits__card__img{
	display: block;
}
.benefits__card__title{
	font-size: 1.25vw;
	margin: 0 0 1.80vw 0;
}
.benefits__card__subtitle{
	max-width: 21.94vw;
	margin: 0 0 2.70vw 0;
}
.benefits__card__link{
	background: url(../img/icon/svg/row.svg) no-repeat 95% center;
	padding: 0 4.08vw 0 0;
}
.benefits__card__link:hover,
.benefits__card__link:focus,
.benefits__card__link:active{
	background: url(../img/icon/svg/row.svg) no-repeat 100% center;
}

/*section trips*/
.trips{
	margin: 0 0 9.03vw 0;
}
.trips__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 2.48vw 0;
}
.trips__link{
	background: url(../img/icon/svg/row.svg) no-repeat right center;
	padding: 0 4.08vw 0 0;
}
.trips__link:hover,
.trips__link:focus{
	opacity: 0.7;
}
.trips__title{
	margin: 0 5vw 0 0;
}
.trips__cards{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0.69vw;
}
.trips__card{
	position: relative;
	overflow: hidden;
}
.trips__card:after{
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(21, 24, 36, 0.4);
	z-index: 2;
}
.trips__card__size-lg{
	grid-column: span 3;
}
.trips__card__size-sm{
	grid-column: span 2;
}
.trips__card-pic{
	width: 100%;
	object-fit: cover;
	transition: .15s all;
}
.trips__card:hover .trips__card-pic{
	transform: scale(1.15);
}
.trips__card-pic-lg{
	height: 24.41vw;
}
.trips__card-pic-sm{
	height: 19.52vw;
}
.trips__card__title{
	font-weight: 700;
	font-size: 3.45vw;
	line-height: 4.14vw;
	color: #FFFFFF;
	position: absolute;
	left: 2vw;
	bottom: 1.86vw;
	z-index: 3;
}
.trips__card__link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

/*cards with description of places*/
.places__cards{
	margin: 0 0 9.59vw 0;
}
.places__card{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5.31vw 7.45vw;
	align-items: center;
}
.places__card-pic{
	grid-column: span 1;
}
.places__card-des{
	grid-column: span 1;
}
.places__card-des-first{
	padding: 0 3.24vw 0 0;
}
.places__card-des-second{
	padding: 0 0 0 3.24vw;
}

.des__title{
	font-size: 2.07vw;
	line-height: 2.76vw;
	color: #102746;
	margin: 0 0 5.86vw 0;
}
.des__subtitle{
	color: #102746;
	margin: 0 0 4vw 0;
}
.des__link{
	background: url(../img/icon/svg/row.svg) no-repeat right center;
	padding: 0 4.08vw 0 0;
}
.des__link:hover,
.des__link:focus{
	opacity: 0.7;
}

/*section top places*/
.top-places{
	margin: 0 0 9.93vw 0;
}
.top-places__title{
	margin: 0 0 3.72vw 0;
}
.top-places__cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3.59vw;
	grid-row-gap: 4vw;
}
.top-places__card{
	overflow:hidden;
	position:relative;
	margin: 0 0 3.10vw 0;
}
.top-places__card:after{
	display: block;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.79vw;
	background: rgba(21, 24, 36, 0.6);
	z-index: 2;
}
.top-places__card-pic{
	object-fit: cover;
	height: 26vw;
}
.top-places__card__title{
	font-size: 1.24vw;
	line-height: 1.66vw;
	color: #ffffff;
	position: absolute;
	bottom: 1.03vw;
	z-index: 3;
	width: 100%;
	padding: 0 1.72vw;
	display: flex;
	justify-content: space-between;
}
.top-card_interactive{
	font-size: 1.10vw;
}
.top-card__likes{
	margin: 0 1.72vw 0 0;
	padding: 0 1.38vw 0 0;
	background: url(../img/icon/svg/like-icon.svg) no-repeat right center;
	background-size: 1.10vw;
}
.top-card__comments{
	padding: 0 1.59vw 0 0;
	background: url(../img/icon/svg/comments-icon.svg) no-repeat right center;
	background-size: 0.97vw;
}
.top-places__card__subtitle{
	color: #102746;
	margin: 0 0 2.14vw 0;
}
.top-places__card__link{
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0.83vw 1.31vw;
	background: #006DFE;
}
.top-places__card__link:hover,
.top-places__card__link:focus{
	background: #005bd4;
}